
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- Recupera mensagens de erros do formulario de acordo com a configuracao do Bean Validation -->
<!-- Caso nao existam mensagens configuradas no Bean Validation o Thymeleaf retorna as mensagens de erro padrao do Spring -->
<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
	<div th:each="detailedError : ${#fields.detailedErrors()}">
		<span th:text="${detailedError.message}"></span>
	</div>
</div>

</html>